/** dialogue.css */
:root {
    --button-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spirit-line,
.spirit-line-hover,
.spirit-line-highlighted {
  font-family: var(--button-font);
  width: 60%;
  font-size: 1.2rem;
  float: left;
  text-align: left;
}

/* FOR HIGHLIGHTING FUNCTIONALITY
.spirit-line {
  border: 2px solid var(--background-primary);
}

.spirit-line-hover {
  border: 2px solid yellow;
}

.spirit-line-highlighted {
  border: 2px solid yellow;
  background: yellow;
} 

.machine-page.control-mode .spirit-line {
  border: 2px solid var(--background-secondary);
}
*/

.self-speaking-line,
.self-thinking-line {
  font-family: var(--button-font);
  width: 60%;
  font-size: 1.2rem;
  float: right;
  text-align: right;
}

.self-thinking-line {
  color: var(--background-darker);
  font-style: italic;
}

.machine-line {
  width: 90%;
  text-align: center;
  display: inline-block;
  color:chocolate;
  font-size: smaller;
  font-style: oblique;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
