/** image.css */

.p5Container {
  position: relative;
  top: 13%;
}

.imggen-top-display {
  min-width: 30vw;
  width: 50%;
  float: right;
  text-align: right;
  margin-top:1%;
  margin-bottom:0%;
  border-bottom:0.5px solid grey;

  color: #4b4b4b;

  p {
    margin:0;
  }
}

.candidateCol {
  width: 100%;
  height:82%;
  overflow-y: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0.5rem;
}
