/** Intro.css */

#storyPage {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: var(--menu-background);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--intro-text);
    text-align: center;
    box-sizing: border-box;
}
  
#storyPage h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#storyPage p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    max-width: 35rem;
    margin-bottom: 1rem;
}

#storyPage .inactive-line {
    color: var(--menu-background);
    pointer-events: none;
    user-select: none;
}
  
.intro-button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
  
.intro-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--menu-icon);
    border-radius: 4px;
    border: 1px solid var(--menu-icon);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    padding: 0.2rem 1rem 0.2rem 1rem;
}

.intro-button:hover {
    color: var(--intro-text);
    background-color: var(--menu-hover);
}

.intro-button:active {
    background-color: #c4c4c4;
}