.settings-wrapper {
  color: var(--text);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-wrapper h1 {
  margin-bottom: 1rem;
}

.settings-wrapper p {
  font-size: medium;
  text-align: center;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 1rem;
}

/** KK: adjusts slider color */
/* .slider-wrapper .MuiSlider-root {
  color: var(--middle-toggle-highlight); 
} */

.slider-wrapper p {
  text-align: left;
}

.button-wrapper {
  display: flex;
  flex-direction: row; 
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;
}

.restart-button {
  background-color: #d69696 !important;
  font-weight: bold !important;
  font-size: medium !important;
}

.restart-button:hover {
  background: #e6adad !important;
  cursor: pointer;
}
  