/* App.css */
@import './styles/colors.css';

/* Global Reset */
html, body, #root {
  margin: 0;
  height: 100%;
  background-color: var(--menu-background);
  font-family: 'Courier New', Courier, monospace;
  color: var(--text);
}

.app-container {
  display: flex;
  height: 100%;
  border: 20px solid var(--menu-background);
  box-sizing: border-box;
}

.menu {
  width: 5%;
  background-color: var(--menu-background);
  border-right: 10px solid var(--menu-background);
  position: relative;
}

.menu-buttons {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.menu button {
  background: none;
  border: none;
  color: var(--menu-icon);
  padding: 1px;
  padding-top: 1rem;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.menu button:hover {
  color: var(--menu-hover);
  transform: scale(1.2);
}  

.menu button svg {
  width: 100%;
  height: auto;
  display: block;
}

.main-screen {
  flex: 1;
  position: relative;
  background-color: var(--background-primary);
}
