.no-select{ 
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  display: block;
  text-align: -webkit-center;
  unicode-bidi: isolate;
}

#storyPage {
  width: 30%;

  h1 {
    padding-bottom: 4%;
  }

  p {
    display: inline-block;
    width: 100%;
    padding-bottom: 2%;
  }
}

#machinePage {
  width: 80%;
  height: 95vmin;
  display: inline-block;

  #machineDisplay {
    width: 57%;
    height: 100%;
    display: inline-block;

    #nameCard {
      display: block;
      pointer-events: none;
    }

    #dialogueCol {
      width: 90%;
      display: block;
      overflow-y: auto;
      background-color: rgba(255,255,255,0.5);
      /* scroll-behavior: smooth; */

      #dialogue {
        display: inline-block;
        width: 80%;
        padding-bottom: 4%;

        .spirit-line {
          width: 60%;
          float:left;
          text-align: left;
          background: white;
          border: 2px solid white;
        }

        .spirit-line-hover {
          width: 60%;
          float:left;
          text-align: left;
          background: white;
          border: 2px solid yellow;
        }

        .spirit-line-highlighted {
          width: 60%;
          float:left;
          text-align: left;
          background: yellow;
          border: 2px solid yellow;
        }

        .self-speaking-line {
          width: 60%;
          float: right;
          text-align: right;
        }
        
        .self-thinking-line {
          width: 52%;
          color: gray;
          font-style: italic;
          float: right;
          text-align: right;
        }

        .machine-line {
          width: 90%;
          text-align: center;
          display: inline-block;
          color:chocolate;
          font-size: smaller;
          font-style: oblique;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
      }
    }
    
    #button-container {
      display: inline-block;
      width: 80%;
      padding-top: 4%;

      .button-div {
        width: 100%;

        .dialogue-button {
          display: block;
          margin-left: auto;
          margin-right: 0;
          margin-bottom: 1%;
        }
        .continue-button {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1%;
          font-style: oblique;
        }
        .machine-button {
          display: block;
          margin-left: auto;
          margin-right: 0;
          margin-bottom: 1%;
          font-style: oblique;
        }
      }
    }
  }

  #machineControl {
    width: 38%;
    height: 100%;
    float: right;

    #candidateCol {
      height: 90%;
      overflow-y: auto;
      scroll-behavior: smooth;

      .candidate {
          /* Create two unequal columns that floats next to each other */
          p {
            color: #686868;
          }

          .column {
            display:inline-block;
            text-align: left;
            vertical-align: middle;
          }

          .left {
            width: 25%;
            margin-right: 5%;
          }

          .right {
            width: 70%;
          }

          /* Clear floats after the columns */
          .row {
            display: block;
            margin-bottom: 1%;
          }

          .notif {
            text-align: center;
            color:rgb(109, 109, 109);
            font-family: din-round,sans-serif;
            font-weight: bold;
          }

          .threshold-line {
            font-size: smaller;
            color:grey;
          }

          .mem-entry {
            margin: 2% 0% 2% 0%;
          }

          .top-display {
            padding: 2% 5% 2% 5%;
            border-radius: 4px;
            background-color: rgb(240, 240, 240);
          }

          .top-main-info {
            padding: 0% 0% 0% 0%;
          }

          .score-display {
            border-radius: 50px;
            border: 1px solid rgb(97, 97, 97);
            padding: 0.5% 2.5% 0.3% 3%;
            margin-right: 3%;
            /* background-color: rgb(184, 184, 184); */
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: small;
            color: #355c23;
            display: inline-block;
          }

          .copiable-prompt {
            /* margin-left: 5%; */
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #000000;
            border-radius: 8px;
            box-shadow: inset rgba(158, 158, 158, 0.5) 1px 1px 0px 2px;
            box-sizing: border-box;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-weight: 500;
            text-align: center;
            color: #000000;
            font-size: 18px;
            line-height: 150%;
            padding: 2% 5% 2% 5%;
          }
          
          .copiable-prompt:active {
            box-shadow: rgba(0, 0, 0, 0.5) 0 0px 0px 0;
            outline: 0;
          }

          .interact-button {
            appearance: none;
            background-color: #929292;
            border-radius: 15px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 14px;
            line-height: normal;
            margin: 0;
            outline: none;
            padding: 3% 3%;
            text-align: center;
            text-decoration: none;
            /* transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); */
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
            will-change: transform;
          }

          .interact-button:disabled {
            pointer-events: none;
          }

          .interact-button:hover {
            background-color: #adadad;
            /* box-shadow: rgba(0, 0, 0, 0.25) 0 2px 0px;
            transform: translateY(-2px); */
          }

          .interact-button:active {
            box-shadow: none;
            transform: translateY(0);
          }

                    /* .meminfo-button:hover {
            background-color: #f7fafa;
          } */
          
          .meminfo-button {
            background-color: #fff;
            border: 1px solid #616161;
            border-radius: 8px;
            box-shadow: rgba(213, 217, 217, .5) 0 2px 0px 0;
            box-sizing: border-box;
            color: #5f5f5f;
            cursor: pointer;
            display: inline-block;
            font-family: "Amazon Ember",sans-serif;
            font-size: 13px;
            padding: 1% 5% 1% 5%;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            /* width: 100px; */
          }

          .meminfo-button-main {
            border-radius: 20px;
          }
          
          .meminfo-button-nonmain {
            border-radius: 0px;
          }

          /* .meminfo-button:hover {
            background-color: #f7fafa;
          } */

          .meminfo-button:active {
            box-shadow: rgba(0, 0, 0, 0.5) 0 0px 0px 0;
            outline: 0;
          }

          .interpret-button {
            appearance: none;
            background-color: #f5f5f5;
            border-radius: 4px;
            border: 1px solid #1a1a1a;
            box-sizing: border-box;
            color: #2c2c2c;
            cursor: pointer;
            display: inline-block;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            box-shadow: rgba(213, 217, 217, 1) 0 2px 2px 0;font-size: 14px;
            line-height: normal;
            margin: 1%;
            outline: none;
            padding: 0.5% 0.5%;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
            /* transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); */
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 90%;
            will-change: transform;
          }
          
          .interpret-button:hover {
            background-color: #d3d3d3;
            /* box-shadow: rgba(0, 0, 0, 0.25) 0 2px 0px;
            transform: translateY(-2px); */
          }

          .interpret-button:active {            
            box-shadow: rgba(213, 217, 217, 1) 0 0px 2px 0;font-size: 14px;
            transform: translateY(0);
          }
      }
    }

    #prompt-control {
      width: 100%;
      padding-top: 4%;

      #prompt {
        width: 100%;
        size: 100;
      }

      #promptSubmit {
        float: right;  
        margin-top: 2%;
      }
    }
  }
}


#paintingPage {
  width: 80%;
  height: 95vmin;
  display: inline-block;

  .p5Container {
    position: relative;
    top: 13%;
  }
}
